#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with dkms

override_dh_install:
	dh_install src/Kbuild usr/src/emlog-$(DEB_VERSION_UPSTREAM)/
	dh_install src/Makefile usr/src/emlog-$(DEB_VERSION_UPSTREAM)/
	dh_install src/emlog.h usr/src/emlog-$(DEB_VERSION_UPSTREAM)/
	dh_install src/emlog.c usr/src/emlog-$(DEB_VERSION_UPSTREAM)/

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)

override_dh_auto_configure:
override_dh_auto_build:
	$(MAKE) -C $$(pwd)/src nbcat mkemlog
override_dh_auto_test:
override_dh_auto_install:
override_dh_auto_clean:
	$(MAKE) -C $$(pwd)/src nbcat_clean mkemlog_clean
